<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
        <div class="col-3">
          <div class="circle">
            <br />
            Alternative
            </br />
            Facts
          </div>
        </div>
        <div class="col-4 slogan">
          When regular facts don't fit your narrative.
        </div>
        <div class="col-5 links">
          <%= link_to 'Contribute', '#' %>
          <%= link_to 'About', '#' %>
        </div>
    </header>

<hr />

    <br class="clear" />
    
    <div class="container"></div>
    <%= yield %>
    </div>
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6"> 
            <%= link_to "Get more Alternative Facts!", "#", class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Coded by Ursula MV with all due respect for the 45th president of the United States of America
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
